
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

header {
  margin: 50px 50px;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  padding: 10px 0 30px 0;
}

.login-container {
  margin: 100px 100px 100px 200px;
  position: absolute;
  min-height: 60vh;
  width: 429px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(20px);
  padding: 30px 40px;
  background: transparent;
  
  border:2px solid rgba(255,255,255,0.3);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  flex-direction: column;
}

.input-field {
  font-size: 15px;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  height: 50px;
  width: 100%;
  padding: 0 10px 0 45px;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: 0.2s ease;
}

.input-field:hover,
.input-field:focus {
  background: rgba(255, 255, 255, 0.25);
}
::-webkit-input-placeholder {
  color: #ffffff;
}
.input-box i {
  position: relative;
  top: -35px;
  left: 17px;
  color: #ffffff;
}

.submit {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submit:hover {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.one {
  color: #ffffff;
  font-size: small;
  margin-top: 10px;
}
.messages {
  color: red;
  text-align: center;
  margin-top: 10px;
}