{%extends "masterPage.html" %} {%block title%} Courses UTH {%endblock%}

<!-- MENU -->

<!-- Dashboards -->
{% block menuDashboards %} {%include '../includes/leftmenu/dashboards.html'%}
{%endblock %}

<!-- Layouts -->

{% block layouts %} {% endblock %}
<!-- Front Pages -->

{% block frontPages %} {% endblock %}
<!-- Apps & Pages -->

{% block appAndPg %} {% endblock %}
<!-- Components -->

{% block components %} {% endblock %}

<!-- Forms & Tables -->

{% block formAndTb %} {% endblock %}
<!-- Misc -->

{% block Misc %} {% endblock %}

<!-- NAVBAR -->
{% block user %} {%include "../includes/navbar/user.html" %} {% endblock %}
{%comment %}
<!-- search -->
{%block search %} {% endblock %} {% endcomment %}

<!-- CONTENT -->
{%block content%} {%endblock%}

<!-- Footer -->
{% block footer %} {%include "../includes/footer.html" %} {% endblock %}
