<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/assets/css/styles.css' %}">
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet">
    <link
        href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
        rel="stylesheet"/>

    
</head>
<style>
body {
      background-image: url("{% static 'home/assets/img/background/home_bg.jpg' %}");
    }
</style>
<body>
  <div method="POST" class="warpper">
    <!------------------- login form -------------------------->
    <div class="login-container" id="login">
      <header>Đăng nhập</header>
      <div class="input-box">
        <input type="text" class="input-field" id="un" name="un" placeholder="Tên đăng nhập" autofocus/>
        <i class="bx bx-user"></i>
      </div>
        <div class="input-box">
            <input type="password" class="input-field" id="pw" name="un" placeholder="Mật khẩu" autofocus/>
            <i class="bx bx-lock-alt"></i>
        </div>
      <div class="input-box">
        <input type="submit" id="btndangnhap" name="btndangnhap" class="submit" value="Đăng nhập" >
      </div>
      <div class="one">
        <input type="checkbox" id="login-check" />
        <label for="login-check"> Lưu thông tin</label>
      </div>
    </div>
    <!------------------- login form -------------------------->
  </div>
  <script scr = "{% static 'home/assets/js/loginPage.js' %}"></script>  
</body>
</html>
