<li class="menu-item active open">
  <a href="../courses" class="menu-link">
    <i class="menu-icon tf-icons bx bx-home-smile"></i>
    <div class="text-truncate" data-i18n="Dashboards">Dashboards</div>
  </a>
</li>

<li class="menu-item">
  <a href="../profile" class="menu-link">
    <i class="bx bx-user-circle"></i>
    <div class="text-truncate" data-i18n="Boxicons">Profile</div>
  </a>
</li>

<li class="menu-item">
  <a href="#" class="menu-link">
    <i class="bx bxs-camera-home"></i>
    <div class="text-truncate" data-i18n="Boxicons">Attendence</div>
  </a>
</li>

<li class="menu-item">
  <a href="#" class="menu-link">
    <i class="bx bx-history"></i>
    <div class="text-truncate" data-i18n="Boxicons">History Attendence</div>
  </a>
</li>
